<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-employee-heading" data-cy="EmployeeCreateUpdateHeading" jhiTranslate="boostclientApp.employee.home.createOrEditLabel">
        Create or edit a Employee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boostclientApp.employee.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boostclientApp.employee.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <span class="input-group-append">
              <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </span>
          </div>
          <div *ngIf="editForm.get('dateOfBirth')!.invalid && (editForm.get('dateOfBirth')!.dirty || editForm.get('dateOfBirth')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateOfBirth')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boostclientApp.employee.employer" for="field_employer">Employer</label>
          <select class="form-control" id="field_employer" data-cy="employer" name="employer" formControlName="employer">
            <option *ngIf="!editForm.get('employer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="employerOption.id === editForm.get('employer')!.value?.id ? editForm.get('employer')!.value : employerOption"
              *ngFor="let employerOption of employersSharedCollection; trackBy: trackEmployerById"
            >
              {{ employerOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['employer'])!.invalid && (editForm.get(['employer'])!.dirty || editForm.get(['employer'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['employer'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="boostclientApp.employee.employer" for="field_employer">Employer</label>
          <select class="form-control" id="field_employer" data-cy="employer" name="employer" formControlName="employer">
            <option *ngIf="!editForm.get('employer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="employerOption.id === editForm.get('employer')!.value?.id ? editForm.get('employer')!.value : employerOption"
              *ngFor="let employerOption of employersSharedCollection; trackBy: trackEmployerById"
            >
              {{ employerOption.name }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['employer'])!.invalid && (editForm.get(['employer'])!.dirty || editForm.get(['employer'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['employer'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
